<p id="notice"><%= notice %></p>

<h1>Habit Objects</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @habit_objects.each do |habit_object| %>
      <tr>
        <td><%= habit_object.name %></td>
        <td><%= habit_object.date %></td>
        <td><%= link_to 'Show', habit_object %></td>
        <td><%= link_to 'Edit', edit_habit_object_path(habit_object) %></td>
        <td><%= link_to 'Destroy', habit_object, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Habit Object', new_habit_object_path %>
